body {
    background-color: #202b29;
    color: hsl(120, 48%, 60%);
    margin: 0;/*Removes unnecesarry borders.*/
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    color: #66BFBF;
    font-size: 5rem; /*1r(root)em means 16pixels, rem helps override other changes to the font which em does not. Also in percentage 100% means 16px.*/
    margin: 50px auto 0 auto;/*Top, Right, Bottom, Left*/
    font-family: 'Architects Daughter', cursive;
}

h2 {
    color: #66BFBF;
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5rem;
    padding-bottom: 50px;
}

h3 {
    color: #11999E;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
}

.logo{
    width: 100px;
    height: 100px;
    border-radius: 25%;
}

.logo_position {
    position: absolute;
    left: 50px;
}

p {
    line-height: 2;
    font-size: 18px;
}

hr {
    border: dashed #203b3b 6px;
    border-bottom: none;
    width: 10%;
    margin: 100px auto;
}

.namaste {
    font-family: 'Rhodium Libre', serif;
    position: relative;
}

.drive_link {
    color: hsl(120, 48%, 60%);
    font-family: 'Open Sans', sans-serif;
} 

.navbar {
    background-color: #202b29;
    font-family: 'Open Sans', sans-serif;
    margin: 20px auto;
}

.upper_side {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 50px;
}

.middle_portion {
    margin: 100px 0 0 0;
}

.my_skills {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.pro {
    text-decoration: line-through;
}

.intro {
    width: 30%;
    margin: auto;
}

.contact-me {
    width: 40%;
    margin: 40px auto 60px;
}

.my-image{
    border-radius: 100%;
    width: 150px;
    height: 150px;
}


.Skill_1 {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.Skill_2 {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.Skill_3 {
    width: 25%;
    float: left;
    margin-right: 30px;
    height: 125px;
}

.footer{
    height: 45px;
    background-color: hsl(120, 48%, 17%);
    margin: auto;
}

.link_1 {
    position: relative;
    right: 35px;
    top: 3px;
    width: 40px;
    height: 40px;
}

.link_2 {
    position: relative;
    top: 3px;
    width: 40px;
    height: 40px;
}

.link_3 {
    position: relative;
    left: 35px;
    top: 3px;
    width: 40px;
    height: 40px;
}
